{% extends "@FOSUser/layout.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Sign in{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/signin.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
