@font-face {
    font-family: "Arsenal";
    src: url(../fonts/Arsenal-Regular.ttf) format('truetype'),
         url(../fonts/Arsenal-Bold.ttf) format('ttf'),
         url(../fonts/Arsenal-BoldItalic.ttf) format('ttf'),
         url(../fonts/Arsenal-Italic.ttf) format('ttf')
}

@font-face {
    font-family: "Passion One";
    src: url(../fonts/PassionOne-Regular.ttf) format('truetype'),
    url(../fonts/PassionOne-Bold.ttf) format('ttf'),
    url(../fonts/PassionOne-Black.ttf) format('ttf')
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf) format('truetype'),
    url(../fonts/Quicksand-Bold.ttf) format('ttf'),
    url(../fonts/Quicksand-Light.ttf) format('ttf'),
    url(../fonts/Quicksand-Medium.ttf) format('ttf')
}

*{

    box-sizing: border-box;
}

body{
    line-height: 1.2em;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #E8E8E8;
    font-family: "Quicksand", sans-serif;
}


.background-image {
    background-image: url("../images/header_photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 0;
    width: 100%;
    padding: 0 0 50%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.logo{
    z-index: 1;
    display: inline-block;
    position: relative;
    width: 40%;
    margin-left: 150px;
    margin-top: 10px;
    opacity: 0.9;
}

.sign {
    z-index: 1;
    position: absolute;
    display: inline-block;
    width: 50%;

}


.sign ul{
    float: right;
    width: 100%;
    height: 100px;
    padding-right: 20px;

}

.sign ul li{
    display: inline-block;
    float: right;
    border: 3px solid #E8E8E8;
    border-radius: 6px;
    height: 80px;
    width: 195px;
    margin-top: 13px;
    margin-right: 50px;
    text-align: center;
    padding-top: 25px;

}

.sign ul li a{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-family: 'Arsenal', sans-serif;
    color: #E8E8E8;
    text-decoration: none;
    background: none;
    padding: 19px 50px;

}

.sign ul li:hover{
    color: #E8E8E8;
    background: #170b15;
    opacity: 0.8;
    transition: background .8s;
    border: 3px solid #170b15;
    border-radius: 6px;
}

.sign ul li a.register{
    padding: 19px 40px 19px 50px;

}

footer {
    position: fixed;
    bottom: 0;
    background: #170b15;
    width: 100%;
    float: right;
    text-align: right;
    margin-top: 5px;
    z-index: 1;
}

footer p {
    color: #D3D3D3;
    font-size: 14px;
    margin-right: 40px;
    font-style: italic;
}

.logged {
    z-index: 1;
    position: absolute;
    display: inline-block;
    width: 50%;

}

.logged ul{
    float: right;
    width: 100%;
    height: 100px;
    padding-right: 20px;

}

.logged ul li{
    display: inline-block;
    float: right;
    border: 3px solid #E8E8E8;
    border-radius: 6px;
    height: 80px;
    width: 200px;
    margin-top: 13px;
    margin-right: 30px;
    text-align: center;
    padding-top: 25px;
}

.logged ul li a{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family: 'Arsenal', sans-serif;
    color: #E8E8E8;
    text-decoration: none;
    background: none;
    padding: 20px 30px;
}
.logged ul li a.logout{
    padding: 19px 50px;
}

.logged ul li a.add{
    padding: 19px 40px;
}

.logged ul li:hover{
    color: #E8E8E8;
    background: #170b15;
    opacity: 0.8;
    transition: background .8s;
    border: 3px solid #170b15;
    border-radius: 6px;
}

label.info{
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    opacity: 0.7;
    width: 120px;
    height: 50px;
    margin-left: 40px;
}
