.wrapper {
    position: absolute;
    background: none;
    width: 100%;
    height:100%;
    z-index: 10;
    padding: 0;
}

.content {
    position: absolute;
    top: 110px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    width: 60%;
    padding: 10px 20px;
    margin: 0 400px;
    z-index: 2;
    text-decoration: none;
    color: #170b15;
    text-align: center;
    height: auto;
}

h1{
    font-family: "Quicksand", sans-serif;
    color: #170b15;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 26px;

}

h2{
    font-family: "Passion One", cursive;
    font-size: 40px;
    margin-left: 10px;
    opacity: 0.9;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 8px;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

h3{
    font-family: "Passion One", cursive;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: left;
}

.empty-data{
    margin-bottom: 60px;
}



label{
    font-weight: bold;
    font-size: 20px;
    opacity: 0.8;
}

a{
    color: inherit;
}

.short{
    width: 100%;
    text-align: left;

}

.short ul{
    text-align: left;
    width: 100%;
    display: block;
    float:left;
    border: 2px solid #E8E8E8;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #E8E8E8;
    opacity: 0.85;
    list-style-type: none;

}

.short ul li{
    text-align: left;
    padding: 0 0 0 20px;
    height: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    margin-left: 150px;
}

.space{
    z-index: 10;
    width: 100%;
    height: 40px;
    top: 1750px;
    position:relative;
    display:block;
    clear: both;

}

.empty{
    width:100%;

    height: 180px;
    text-align: center;
    padding: 10px;
    display:block;
}

.line-separator{
    height:1px;

    background:#717171;

    border-top:1px solid #170b15;
}

.add-offer{
    text-decoration: none;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    background-color: #170b15;
    color: #E8E8E8;
    padding: 18px 20px 13px 20px;
    margin: 50px 0;
    border: 1px solid #170b15;
    border-radius: 6px;
    height: 60px;
    opacity: 0.95;
}

.add-offer:hover {
    background: #170b15;
    opacity: 0.8;
    transition: background .9s;
    border-radius: 6px;
}

.short ul li.price{
    margin-left: 850px;
    font-size: 18px;
}

img{
    float: left;
}


.button-back{
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-color: #170b15;
    color: #E8E8E8;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 40%;
    height: 60px;
}

.button-back:hover{
    background: #170b15;
    opacity: 0.8;
    transition: background .8s;
    border-radius: 6px;
}


.btn{
    display: inline-block;
    font-size: 18px;
    background-color: #170b15;
    color: #E8E8E8;
    padding: 14px 20px;
    margin: 10px 0;
    border: 1px solid #170b15;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    height: 52px;
    width: 30%;
    clear: right;
    float: left;
}

.btn:hover{
    background: #170b15;
    opacity: 0.8;
    transition: background .8s;
    border-radius: 0 6px 6px 0;
}

.back {
    display: inline-block;
    font-size: 18px;
    padding: 14px 20px;
    background-color: #E8E8E8;
    color: #170b15;
    border: 1px solid #999999;
    border-radius: 6px 0 0 6px;
    text-decoration: none;
    text-align: center;
    margin: 10px 0 10px 220px;
    height: 52px;
    width: 30%;
    float: left;
}

.back:hover {
    background: #E8E8E8;
    opacity: 0.7;
    transition: background .8s;
    border-radius: 6px 0 0 6px;
}

