*{
    font-family: "Quicksand", sans-serif;
}

.searcher {
    position: fixed;
    z-index: 1;
    bottom: 0;
    height: 400px;
    width: 100%;
    display: inline;
    background-color: #170b15;
}

.styled-select {
    display: block;
    text-align: center;
    width: 100%;
    height: 380px;
    padding: 0 50px;
    position: fixed;
    margin: 0;
    clear: none;
}



.styled-select select{
    margin: 10px auto;
    display:block;
    clear:none;
    width: 400px;
    background: #D3D3D3 url("../images/select-icon.png") no-repeat right center;
    font-size: 20px;
    color: #170b15;
    height: 50px;
    border: 5px solid #D3D3D3;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.styled-select select:focus{

    opacity: 0.8;
}


.btn {
    text-align: center;
    display: block;
    width: 400px;
    margin: 30px auto;
    transition: background .5s;
    background-color:#D3D3D3;
    border: 1px solid #D3D3D3;
    color: #170b15;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    cursor:pointer;
}

.btn:hover {
    margin: 30px auto;
    display: block;
    transition: background .5s;
    background-color:#170b15;
    border: 1px solid #D3D3D3;
    color: #D3D3D3;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
}








