{% extends "@FOSUser/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>{% block title %}Sign up{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/signup.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
