AddHandler php-fcgi .php .html 
Action php-cgi /home/php5-fcgi
<FilesMatch "^php5?\.(ini|cgi)$">
    Order Deny,Allow
    Deny from All
    Allow from env=REDIRECT_STATUS
</FilesMatch>

php_value memory_limit 256M


