<!DOCTYPE html>
<html>
<head>

</head>
<body>
<!--- Header --->
<header class="header">
    {% block header %}

    {% endblock %}
</header>


<div class ="contents">{% block content %}{% endblock %} </div>

<footer>
    {% block footer %}
        <div class="footer">
            <p>&copy; Anna Budzoń</p>
        </div>
    {% endblock %}
</footer>

</body>
</html>
