{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Sign up{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}
{% block fos_user_content %}
<div class = "content">
    <div class="container">
        <h2>Resetting password</h2>
        <p class="info"> {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
    </div>
</div>
{% endblock %}